*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100%;
}
.firstlogin{
    margin-top: 20px;
    padding-top: 15%;
   
    width: 100%;
    height: 100%;
    
    text-align: center;
    background-color: rgba(0, 110, 255, 0.381);
    border: 5px;
    border-color: black;
    border-style: double;
    
}

.secondlogin{
    margin-top: 20px;
    padding-top: 15%;
    width: 100%;
    height: 100%;
    
    text-align: center;
    background-color: rgba(211, 220, 236, 0.441);
    border: 10px;
    border-color: black;
    border-style: double;
    margin-left: 10px;
}
.page{
    display: flex;
    /* flex: auto; */
    /* background-color: aquamarine; */
    width: 100%; 
    height: 100%;
   
}
